.biotextarea {
    width: min(75vh, calc(90vw - 50px));
    height: 50vh;

    background-color: #ffffff;
    color: white;
    border: none;
    outline: none;
    padding: 2vh;
    line-height: 1.8;
}