
html, body {
    height: 100%; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
}

h1 {
    font-size:70px;
    color:rgb(240, 240, 240);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

body {
    text-align: center;
}

.menu {
    font-weight: bold;
}

.table {
    margin:auto;
    text-align: center;
    width:50%;
    white-space:wrap;
    background-color:rgb(39, 39, 39);
    color:rgb(173, 216, 230);
}

.list-group-item {
    background-color: rgb(17, 17, 17);
    color:rgb(206, 250, 209)
}

.list-group {
    width: 10%;
    margin: auto;
}

.cool-text {
    background-image: linear-gradient(rgb(0, 255, 191), blue);
    color: transparent;
    background-clip: text;
}

.cool-title{
    background-image: linear-gradient(rgb(0, 255, 191), blue);
    color: transparent;
    background-clip: text;
    font-size: 600%
}

.footer {
    // position: absolute;
    // bottom: 0;
    left: 0;
    right: 0;
    color: #355565;
    font-size:12px;
}
