
html, body {
    height: 100%; 
    margin: 0; 
    display: flex; 
    flex-direction: column; 
}

h1 {
    font-size:70px;
    color:rgb(240, 240, 240);
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}

body {
    background-color: rgb(21, 21, 21);
    color: rgb(173, 216, 230);
    text-align: center;
}

.menu {
    font-weight: bold;
}

.table {
    min-height: 100vh;
    text-align: center;
    width:50%;
    color:rgb(206, 144, 229);
    white-space:wrap;
    background-color:rgb(39, 39, 39);
    color:rgb(173, 216, 230);
}

.list-group-item {
    background-color: rgb(17, 17, 17);
    color:rgb(206, 250, 209)
}

#content {
    text-align: center;
    padding: 20px;
}

.userinfo #page-heading {
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.userinfo #page-body {
    font-size: 20px;
    color: rgb(173, 216, 230);
}

.chat #page-heading {
    font-size: 50px;
    color: rgb(240, 128, 128);
}

.chat #page-body {
    font-size: 20px;
    color: rgb(144, 238, 144);
}